@import url("./reset.css");

main {
  display: flex;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(10, 30px);
}

.grid__cell {
  border: 1px solid black;
}

.grid__cell--ship {
  background-color: lime;
}

.grid__cell--hit {
  background-color: red;
}

.grid__cell--miss {
  background-color: gray;
}

#message {
  padding: 10px;
  background-color: gray;
}
